body {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    background: #282A36;
  }
  
  #wrapper {
    display: flex;
    padding: 2em 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
  }
  #wrapper #section-header {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  #wrapper #sh-console {
    min-width: 300px;
    width: 50%;
  }
  
  .sh-console {
    font-family: "Monaco", "Consolas";
    -webkit-font-smoothing: antialiased;
    font-size: 0.85em;
    overflow: hidden;
    background: #383737;
    color: #ccc;
    box-sizing: border-box;
    border-top: 1.5em solid #ccc;
    border-radius: 0.25em;
    padding: 1.5em;
  }
  .sh-console.sh-shadow {
    box-shadow: 5px 10px 50px #000;
  }
  .sh-console .sh-command {
    margin: 1.5em 0 0.5em 1em;
    color: #fff;
    position: relative;
  }
  .sh-console .sh-command:before {
    content: "#";
    color: #3a92c8;
    padding-right: 0.75em;
    position: absolute;
    left: -1.25em;
  }
  .sh-console .sh-return {
    margin: 0.5em 0 1.5em 2.25em;
    position: relative;
  }
  .sh-console .sh-return:before {
    content: "$";
    padding: 0 0.75em 0 1.25em;
    position: absolute;
    left: -2.5em;
  }
  .sh-console .sh-return ul.sh-array {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sh-console .sh-return ul.sh-array:before {
    content: "[";
  }
  .sh-console .sh-return ul.sh-array:after {
    content: "]";
  }
  .sh-console .sh-return ul.sh-array li {
    display: inline;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  .sh-console .sh-return ul.sh-array li:before {
    content: '"';
  }
  .sh-console .sh-return ul.sh-array li:after {
    content: '"';
  }
  .sh-console .sh-return ul.sh-array li:not(:last-child):after {
    content: '", ';
  }
  .sh-console .sh:first-child {
    margin-top: 0;
  }
  .sh-console .sh:last-child {
    margin-bottom: 0;
  }
  .sh-console a {
    color: #3a92c8;
    text-decoration: none;
  }
  .sh-console a:hover {
    text-decoration: underline;
  }